<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div>
    <p class="content-padded">Thanks for downloading Ratchet. This is an example HTML page that's linked up to compiled
        Ratchet CSS and JS, has the proper meta tags and the HTML structure. Need some more help before you start
        filling this with your own content? Check out some Ratchet resources:</p>

    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell">
                <a class="push-right" href="http://goratchet.com">
                    <span class="media-object pull-left icon icon-info"></span>

                    <div class="media-body">
                        <strong>Ratchet documentation</strong>
                    </div>

                </a>
            </li>
            <li class="table-view-cell">
                <a class="push-right" href="https://github.com/twbs/ratchet/">
                    <span class="media-object pull-left icon icon-info"></span>

                    <div class="media-body">
                        <strong>Ratchet on Github</strong>
                    </div>
                </a>
            </li>
            <li class="table-view-cell">

                <a class="push-right" href="https://groups.google.com/forum/#!forum/goratchet">
                    <span class="media-object pull-left icon icon-info"></span>

                    <div class="media-body">
                        <strong>Ratchet Google group</strong>
                    </div>
                </a>
            </li>
            <li class="table-view-cell">

                <a class="push-right" href="https://twitter.com/goratchet">
                    <span class="media-object pull-left icon icon-info"></span>

                    <div class="media-body">
                        <strong>Ratchet on Twitter</strong>
                    </div>
                </a>
            </li>

            <li class="table-view-cell">

                <a class="push-right" href="#/view2">
                    <span class="media-object pull-left icon icon-right-nav"></span>

                    <div class="media-body">
                        <strong>Go to View2</strong>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>